/* Stili di pagina */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: 'Verve'; /* Nome del font */
    src: url('../src/Font/verve-font/Verve-nnjJ.ttf') format('truetype'); /* Percorso al file */
    font-weight: normal;
    font-style: normal;
}

/* Usa il font nel tuo progetto */

body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;      
}

.container {
    float: left;
    margin-left: 5%;
    padding: 20px;
    width: 75%;
    border: 1px solid gray;
    border-radius: 20px;
}

h1 {
    font-family: 'Verve', sans-serif;
    width: calc(100% - 400px);
    font-size: 32px;
    font-weight: normal;
    margin: 20px 0;
    padding-bottom: 10px; /* Spazio tra il titolo e la linea */
    border-bottom: 1px solid #232323; /* Linea sotto il titolo */
}

h2{
    font-family: 'Verve', sans-serif;
    clear: both;
    font-size: 28px;
    font-weight: normal;
    margin: 20px 0;
    padding-bottom: 10px; /* Spazio tra il titolo e la linea */
    border-bottom: 1px solid #232323;
}

h3{
    font-family: 'Verve', sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 20px 0;
    padding-bottom: 10px; /* Spazio tra il titolo e la linea */
    border-bottom: 1px solid #232323;
}

big{
    font-size: 20px;	
}

/* Stili generali elementi di tabella */
.round {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -icab-border-radius: 10px;
    -o-border-radius: 10px;
}

.roundtl {
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    -icab-border-top-left-radius: 10px;
    -o-border-top-left-radius: 10px;
}

.roundtr {
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    -icab-border-top-right-radius: 10px;
    -o-border-top-right-radius: 10px;
}

.roundbl {
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    -icab-border-bottom-left-radius: 10px;
    -o-border-bottom-left-radius: 10px;
}

.roundbr {
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -icab-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
}

.roundbottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -icab-border-bottom-left-radius: 10px;
    -icab-border-bottom-right-radius: 10px;
    -o-border-bottom-left-radius: 10px;
    -o-border-bottom-right-radius: 10px
}

.roundtop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    -icab-border-top-left-radius: 10px;
    -icab-border-top-right-radius: 10px;
    -o-border-top-left-radius: 10px;
    -o-border-top-right-radius: 10px
}

.roundleft {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    -icab-border-top-left-radius: 10px;
    -icab-border-bottom-left-radius: 10px;
    -o-border-top-left-radius: 10px;
    -o-border-bottom-left-radius: 10px
}

.roundright {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    -icab-border-bottom-right-radius: 10px;
    -icab-border-top-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -o-border-top-right-radius: 10px
}

/* Stili colore tabelle */
table td{
    padding: 5px;
    background-color:#ffffff;
}
/* --- */
table.green {
    background-color: #75C977;
    border: 6px solid #4AA14D;
}
table.green th {
    background-color: #A2E0A3;
    color: #000000;
}
/* --- */
table.blue {
    background-color: #75C9FF;
    border: 6px solid #4AA1FF;
}
table.blue th {
    background-color: #A2E0FF;
    color: #000000;
}
/* --- */
table.red {
    background-color: #FFA575;
    border: 6px solid #FF7546;
}
table.red th {
    background-color: #FFA575;
    color: #000000;
}
/* --- */
table.yellow {
    background-color: #FFD580;
    border: 6px solid #FFA146;
}
table.yellow th {
    background-color: #FFD580;
    color: #000000;
}


/* !!!!!!!!!!WORK IN PROGRESS!!!!!!!!!! */
.location {
    
    width: 360px;
    border-collapse: collapse;
    margin-left: 20px;
    font-size: 18px;
    text-align:center;
    border: 6px solid #dddddd6c;
    border-radius: 10px;
    display: block;
    float: right;
}

.mapproximity {
    height: 150px;
    width:100%;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    border: 6px solid #754600;
    border-radius: 10px;
    table-layout: fixed;
}

.mapproximity td{
    min-height: 50px;
    width: 33%;
    height: 33%;
    border-collapse: collapse;
    font-size: 16px;
}

.mapproximity .corner{
    background-color: #FFD580;    
}

.mapproximity .route.top {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: white;
}


.mapproximity .route.bottom {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;
}

.mapproximity .route.center {
    background-color:white;
    font-weight: bold;
}

.mapproximity .route.left {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: white;
}


.mapproximity .route.right {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;
}

.cover{
    width: 300px;
    height: 169px;
    border: 2px solid #a2a9b1;
}

/* Stili tabella ITEMS */
.items {
    width: 100%;
    margin: 20px 0;
    font-size: 18px;
    text-align: centre;
    border: 6px solid #dddddd6c;
    border-radius: 10px;
}

.items th{
    border: 2px solid;
}

/* Stili tabella POKEMON */
table.pkmnencounter {
    width: 60%;
    margin: 20px 0;
    font-size: 18px;
    text-align: centre;
    border: 6px solid #4AA14D;
    border-radius: 20px;
    background-color: #75C977;
    padding-bottom: 20px;

}

.pkmnencounter th, .pkmnencounter td {

    text-align: center;
 }
    
.pkmnencounter th {
    background-color: #A2E0A3;
    color: #000000;
}
.pkmnencounter td {
    background-color: #ffffff;
    height:80px
}

.pkmnencounter .levels{
    text-align: center;
}

/* !!!!!!!!!!END WORK IN PROGRESS!!!!!!!!!! */

td.day {
    background-color: #96E0FF;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

td.night{
    background-color: #597a9b;
    width: 50%;
    height: 100%;
    overflow: hidden;
}


/* Stili Sprite */
div.bg-sprite{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:visible;
}

.sprite-small{
    width: 24px;
    height: 24px;}

.sprite-medium{
    width: 40px;
    height: 40px;}

.sprite-large{
    width: 80px;
    height: 80px;}	

/*Colori TIPI*/
.normal{width:32px; height:32px; background-color: #C1C2C1; border:3px solid #676967; border-radius: 32px;}
.fire {width:32px; height:32px; background-color: #EF7374; border:3px solid #961A1B; border-radius: 32px;}
.fighting {width:32px; height:32px; background-color: #ee954d; border:3px solid #743816; border-radius: 32px;}
.water {width:32px; height:32px; background-color: #74ACF5; border:3px solid #1B539B; border-radius: 32px;}
.flying {width:32px; height:32px; background-color: #a1dbf1; border:3px solid #397da5; border-radius: 32px;}
.grass {width:32px; height:32px; background-color: #82c274; border:3px solid #1c4d1f; border-radius: 32px;}
.poison {width:32px; height:32px; background-color: #7763ad; border:3px solid #342c58; border-radius: 32px;}
.electric {width:32px; height:32px; background-color: #e2e473; border:3px solid #A37D00; border-radius: 32px;}
.ground {width:32px; height:32px; background-color: #947951; border:3px solid #4e371c; border-radius: 32px;}
.psychic {width:32px; height:32px; background-color: #F584A8; border:3px solid #9B2A4F; border-radius: 32px;}
.rock {width:32px; height:32px; background-color: #CBC7AD; border:3px solid #5E3515; border-radius: 32px;}
.ice {width:32px; height:32px; background-color: #91e3f8; border:3px solid #28869E; border-radius: 32px;}
.bug {width:32px; height:32px; background-color: #B8C26A; border:3px solid #545e0e; border-radius: 32px;}
.dragon {width:32px; height:32px; background-color: #867ce0; border:3px solid #212381; border-radius: 32px;}
.ghost {width:32px; height:32px; background-color: #aca7b9; border:3px solid #2a2633; border-radius: 32px;}
.dark {width:32px; height:32px; background-color: #5f5d66; border:3px solid #292929; border-radius: 32px;}
.steel {width:32px; height:32px; background-color: #a9b7bb; border:3px solid #33444b; border-radius: 32px;}
.fairy {width:32px; height:32px; background-color: #ffc1fc; border:3px solid #892192; border-radius: 32px;}

