/* Stili di pagina */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: 'Verve'; /* Nome del font */
    src: url('../src/Font/verve-font/Verve-nnjJ.ttf') format('truetype'); /* Percorso al file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bl_genfont';
    src: local('Segoe UI Symbol'),local('Helvetica'),local('Noto Emoji Regular');
    unicode-range: U+2640,U+2642
}

/* Lista Variabili CSS */
:root {
    --font-verve: 'bl_genfont', sans-serif;
    --font-nunito: 'Nunito', sans-serif;

    --table-min-width: 450px;
    --table-max-width: 600px;

    --table-border-width: 6px;
    --table-border-radius: 10px;

    --table-padding: 10px;
}

body{
    font-family: var(--font-nunito);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
    background-color: #929292;
    justify-items: center;   
}

.container {
    float: center;
    padding: 20px;
    width: 1000px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: #eeeee3;
}

h1 {
    font-family: var(--font-verve);
    font-size: 32px;
    font-weight: normal;
    margin: 20px 0;
    padding-bottom: 10px; /* Spazio tra il titolo e la linea */
    border-bottom: 1px solid #232323; /* Linea sotto il titolo */
}

h2{
    font-family: var(--font-verve);
    clear: both;
    font-size: 28px;
    font-weight: normal;
    margin: 20px 0;
    padding-bottom: 10px; /* Spazio tra il titolo e la linea */
    border-bottom: 1px solid #232323;
}

h3{
    font-family: var(--font-nunito);
    font-size: 20px;
    font-weight: normal;
    margin: 20px 0px 10px 0px;
    padding-bottom: 10px; /* Spazio tra il titolo e la linea */
}

big{
    font-size: 20px;	
}

table-text-title{
    font-family: var(--font-nunito);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
}

table-text-bigger{
    font-family: var(--font-nunito);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
}

table-text-big{
    font-family: var(--font-nunito);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
}

table-text-medium{
    font-family: var(--font-nunito);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 1.2;
}

table-text-small{
    font-family: var(--font-nunito);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 0.8;
}

.justified-text p {
  text-align: justify;
}

/* Stili generali elementi di tabella */
div.tcontainer{
    width: 100%;
    overflow-x: auto;
}
.round {
    border-radius: var(--table-border-radius);
    -moz-border-radius: var(--table-border-radius);
    -webkit-border-radius: var(--table-border-radius);
    -khtml-border-radius: var(--table-border-radius);
    -icab-border-radius: var(--table-border-radius);
    -o-border-radius: var(--table-border-radius);
}

.roundtl {
    border-top-left-radius: var(--table-border-radius);
    -moz-border-radius-topleft: var(--table-border-radius);
    -webkit-border-top-left-radius: var(--table-border-radius);
    -khtml-border-top-left-radius: var(--table-border-radius);
    -icab-border-top-left-radius: var(--table-border-radius);
    -o-border-top-left-radius: var(--table-border-radius);
}

.roundtr {
    border-top-right-radius: var(--table-border-radius);
    -moz-border-radius-topright: var(--table-border-radius);
    -webkit-border-top-right-radius: var(--table-border-radius);
    -khtml-border-top-right-radius: var(--table-border-radius);
    -icab-border-top-right-radius: var(--table-border-radius);
    -o-border-top-right-radius: var(--table-border-radius);
}

.roundbl {
    border-bottom-left-radius: var(--table-border-radius);
    -moz-border-radius-bottomleft: var(--table-border-radius);
    -webkit-border-bottom-left-radius: var(--table-border-radius);
    -khtml-border-bottom-left-radius: var(--table-border-radius);
    -icab-border-bottom-left-radius: var(--table-border-radius);
    -o-border-bottom-left-radius: var(--table-border-radius);
}

.roundbr {
    border-bottom-right-radius: var(--table-border-radius);
    -moz-border-radius-bottomright: var(--table-border-radius);
    -webkit-border-bottom-right-radius: var(--table-border-radius);
    -khtml-border-bottom-right-radius: var(--table-border-radius);
    -icab-border-bottom-right-radius: var(--table-border-radius);
    -o-border-bottom-right-radius: var(--table-border-radius);
}

.roundbottom {
    border-bottom-left-radius: var(--table-border-radius);
    border-bottom-right-radius: var(--table-border-radius);
    -moz-border-radius-bottomleft: var(--table-border-radius);
    -moz-border-radius-bottomright: var(--table-border-radius);
    -webkit-border-bottom-left-radius: var(--table-border-radius);
    -webkit-border-bottom-right-radius: var(--table-border-radius);
    -khtml-border-bottom-left-radius: var(--table-border-radius);
    -khtml-border-bottom-right-radius: var(--table-border-radius);
    -icab-border-bottom-left-radius: var(--table-border-radius);
    -icab-border-bottom-right-radius: var(--table-border-radius);
    -o-border-bottom-left-radius: var(--table-border-radius);
    -o-border-bottom-right-radius: var(--table-border-radius);
}

.roundtop {
    border-top-left-radius: var(--table-border-radius);
    border-top-right-radius: var(--table-border-radius);
    -moz-border-radius-topleft: var(--table-border-radius);
    -moz-border-radius-topright: var(--table-border-radius);
    -webkit-border-top-left-radius: var(--table-border-radius);
    -webkit-border-top-right-radius: var(--table-border-radius);
    -khtml-border-top-left-radius: var(--table-border-radius);
    -khtml-border-top-right-radius: var(--table-border-radius);
    -icab-border-top-left-radius: var(--table-border-radius);
    
    -icab-border-top-right-radius: var(--table-border-radius);
    -o-border-top-left-radius: var(--table-border-radius);
    -o-border-top-right-radius: var(--table-border-radius);
}

.roundleft {
    border-top-left-radius: var(--table-border-radius);
    border-bottom-left-radius: var(--table-border-radius);
    -moz-border-radius-topleft: var(--table-border-radius);
    -moz-border-radius-bottomleft: var(--table-border-radius);
    -webkit-border-top-left-radius: var(--table-border-radius);
    -webkit-border-bottom-left-radius: var(--table-border-radius);
    -khtml-border-top-left-radius: var(--table-border-radius);
    -khtml-border-bottom-left-radius: var(--table-border-radius);
    -icab-border-top-left-radius: var(--table-border-radius);
    -icab-border-bottom-left-radius: var(--table-border-radius);
    -o-border-top-left-radius: var(--table-border-radius);
    -o-border-bottom-left-radius: var(--table-border-radius);
}

.roundright {
    border-bottom-right-radius: var(--table-border-radius);
    border-top-right-radius: var(--table-border-radius);
    -moz-border-radius-bottomright: var(--table-border-radius);
    -moz-border-radius-topright: var(--table-border-radius);
    -webkit-border-bottom-right-radius: var(--table-border-radius);
    -webkit-border-top-right-radius: var(--table-border-radius);
    -khtml-border-bottom-right-radius: var(--table-border-radius);
    -khtml-border-top-right-radius: var(--table-border-radius);
    -icab-border-bottom-right-radius: var(--table-border-radius);
    -icab-border-top-right-radius: var(--table-border-radius);
    -o-border-bottom-right-radius: var(--table-border-radius);
    -o-border-top-right-radius: var(--table-border-radius);
}

.gridlayout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    row-gap: 5px;
    justify-items: center;
}

/*Colori TIPI*/
    /* per tabelle */
    .normal {background-color: #C1C2C1; border-color: #676967;}
    .fire {background-color: #EF7374; border-color: #961A1B;}
    .fighting {background-color: #ee954d; border-color: #743816;}
    .water {background-color: #74ACF5; border-color: #1B539B;}
    .flying {background-color: #8fc6db; border-color: #397da5;}
    .grass {background-color: #82c274; border-color: #1c4d1f;}
    .poison {background-color: #7763ad; border-color: #342c58;}
    .electric {background-color: #e2e473; border-color: #A37D00;}
    .ground {background-color: #947951; border-color: #4e371c;}
    .psychic {background-color: #F584A8; border-color: #9B2A4F;}
    .rock {background-color: #CBC7AD; border-color: #5E3515;}
    .ice {background-color: #91e3f8; border-color: #28869E;}
    .bug {background-color: #B8C26A; border-color: #545e0e;}
    .dragon {background-color: #867ce0; border-color: #212381;}
    .ghost {background-color: #aca7b9; border-color: #2a2633;}
    .dark {background-color: #5f5d66; border-color: #292929;}
    .steel {background-color: #a9b7bb; border-color: #33444b;}
    .fairy {background-color: #ffc1fc; border-color: #892192;}
    /* per enfasi */
    .normalhl {background-color: #8F8F8E;}
    .firehl {background-color: #e93535;}
    .fightinghl {background-color: #eba337;}
    .waterhl {background-color: #197ef1;}
    .flyinghl {background-color: #34c2ff;}
    .grasshl {background-color: #0dbe1c;}
    .poisonhl {background-color: #6e20eb;}
    .electrichl {background-color: #f5e61a;}
    .groundhl {background-color: #804a00;}
    .psychichl {background-color: #ff256a;}
    .rockhl {background-color: #422e1c;}
    .icehl {background-color: #19d5ff;}
    .bughl {background-color: #b7d123;}
    .dragonhl {background-color: #3436c7;}
    .ghosthl {background-color: #513785;}
    .darkhl {background-color: #2c2828;}
    .steelhl {background-color: #2c434d;}
    .fairyhl {background-color: #ea5fff;}
    
    
    .physical {background-color: #d36f36}
    .special {background-color: #496ca1}
    .status {background-color: #676767}
    
    .blank {background-color: #fff !important;border-color: #fff !important;}

/* Stili colore tabelle */
table td{
    /* padding: 5px; */
    background-color:#ffffff;
    font-size: 14px;
    text-align: center;
}
/* --- */
.green {
    background-color: #75C977;
    border-style: solid;
    border-color: #4AA14D;
}
.green th {
    background-color: #A2E0A3;
    color: #000000;
}
/* --- */
.blue {
    background-color: #75C9FF;
    border-style: solid;
    border-color: #4AA1FF;
}
.blue th {
    background-color: #A2E0FF;
    color: #000000;
}
/* --- */
.red {
    background-color: #FFA575;
    border-style: solid;
    border-color: #FF7546;
}
.red th {
    background-color: #d8411b;
    color: #000000;
}
/* --- */
.yellow {
    background-color: #FFD580;
    border-style: solid;
    border-color: #FFA146;
}
.yellow th {
    background-color: #fcb830;
    color: #000000;
}

.orange {
    background-color: #ffad4f;
    border-style: solid;
    border-color: #ff9900;
}
.orange th {
    background-color: #e06f31;
    color: #000000;
}

.purple {
    background-color: #a76fdd;
    border-style: solid;
    border-color: #9b4fdd;
}
.purple th {
    background-color: #9b4fdd;
    color: #000000;
}

/* --- */
.gray {
    background-color: #4d4d4d;
    border-style: solid;
    border-color: #A9A9A9;
}
.gray th {
    background-color: #7a7a7a;
    color: #000000;
}


/* Border thickness styles */
.border-bold {
    border-width: var(--table-border-width);
}
.border-normal {
    border-width: calc(var(--table-border-width) / 1.5);
}
.border-light {
    border-width: calc(var(--table-border-width) / 2.5);
}
.border-none {
    border-width: 0px !important;
}


table.intro {
    display: block;
    float: right;
    width: 360px;
    justify-content: center;
    align-items: center;
}

.transparent{
    background: none !important;
}

/* !!!!!!!!!!WORK IN PROGRESS!!!!!!!!!! */


/*Stili tabella ITEMS */
#items{
    width: 60%; 
    min-width: var(--table-min-width); 
    max-width: var(--table-max-width);  
}
#items img{
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
#items td.icon{
    width: 44px;
    text-align: center;
}
#items td.name{
    width: 150px;
    text-align: center;
}
#items td.location{
    width: 300px;
    text-align: left;
}

.market-good{
    background: #797979;;
}

.market-good td{
    text-align: center;
    padding: 5px 10px 5px 10px;
    

}

#intro {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

#intro td{
    border-width: 0px;
    background: none;
    display: flex;
    align-items: center; 
    justify-content: center;
}

#intro-title{
    width : 100%;
}

#intro-description{
    width: 100%;
}

#intro-description td{
    background-color: #ffffff;
}

#intro-directions td {
    width: calc(100%/3);
}

#intro-directions .corner {
    background-color: #FFD580;    
}

#intro-directions .route.top {
    border-top-left-radius: 50% / 50%;
    border-top-right-radius: 50%;
    background-color: white;
}

#intro-directions .route.bottom {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;
}

#intro-directions .route.center {
    background-color: white;
    font-weight: bold;
}

#intro-directions .route.left {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: white;
}

#intro-directions .route.right {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;
}

#intro-map{
    width: 100%;
}

.imgcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    width: 300px;
    height: 219px;
    border-radius: calc(var(--table-border-radius) + var(--table-border-width));
    border-width: calc(var(--table-border-width) / 2.5);
    border-style: solid;
}

.introheader{
    width: 100%;
}

#intro-map img{
    width: 200px;   
    border-radius: calc(var(--table-border-radius) + var(--table-border-width));
    border-width: calc(var(--table-border-width) / 2.5);
    border-style: solid;
    margin: 10px 0 10px 0;
}

/* Stili tabella POKEMON SELVATICI*/
#wildspawns{ /*id assegnato alla tabella*/
    width: 60%;
    min-width: var(--table-min-width);
    max-width: var(--table-max-width);

}
#wildspawns td{
    text-align: center;
    width: auto;
}

#wildspawns .pokemon table{
    width: 100%;
    justify-content: center;
    align-items: center;
}
#wildspawns .pokemon table tr td:nth-child(1){
    width: 50px;
}
#wildspawns .pokemon .name{    
    text-align: left;
}

#wildspawns tr td:nth-child(3){
    
    width: 75px;
}

#wildspawns th.rate{
    width: 5%;
}
#wildspawns td.day {
    background-color: #96E0FF;
    width: auto;
    height: 100%;
    overflow: hidden;
    text-align: center;
}
#wildspawns td.night{
    background-color: #597a9b;
    width: auto;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

/*Stili ALLENATORI COMUNI*/
.trainers{
    width: fit-content;
    min-width: var(--table-min-width);
    max-width: var(--table-max-width);
}

.trainers table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}
.trainers .name{
    width : 150px;
}

.trainers .pokemonlist{
    width: 200px;
}



/* Stili Sprite e immagini*/
.bg-sprite{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-width: calc(var(--table-border-width) / 2);
    border-style: solid;
}

.sprite-small{
    width: 24px !important;
    height: 24px !important;
    text-align: center;}

.sprite-medium{
    width: 60px !important;
    height: 60px !important;
    text-align: center;}

.sprite-large{
    width: 80px !important;
    height: 80px !important;
    text-align: center;
}	


/* Stili colori VIT (Very Important Trainer) */
.lark{
    background-color: rgb(250, 192, 0);
    border-color: rgb(163, 125, 0);

}
.lark-light{
    background-color: rgb(255, 214, 89);
    border-color: rgb(163, 125, 0);
}

/*Moveset*/
.pkmn{
    width: 200px !important;
    border-width: calc(var(--table-border-width) / 2);
    border-style: solid;
}

.pkmn td{
    display: table-cell;
    text-align: center;
    font-size: 12px;
    width: 100px;
}

.event {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 60px;
    margin: 0px;
    padding: 20px;
}

dt table td{
    display: block;
    width : 100%;
    height: 20px !important;

}

.pkmn dl.info dt:nth-of-type(odd) {
    font-size: 10px;
    width: 100%;
}

.pkmn dl.info dt:nth-of-type(even) {
    font-size: 12px;
    width: 100%;
}

.move{
    width: 100px;
    height: 42px;
    border-width: calc(var(--table-border-width) / 2.5);
    border-style: solid;
    border-radius: calc(var(--table-border-radius) + var(--table-border-width) / 2.5);
    background-color: #ffffff;
    text-align: center;
    border-spacing: 0px;

}
.move th{
    background-color: #fff;
    border:none;
    border-collapse: collapse;
    font-weight: normal;
    font-size: 12px;
}

.move td{
    width: 50%;
    border-width:3px;
    font-size: 12px;
    color: #ffffff;
}

/* VeryImportantTrainer */
.VIT{

    border-style: solid;
    padding-top: var(--table-padding);
    padding-bottom: var(--table-padding);
}

.VITalt{

    border-style: solid;
    padding-top: var(--table-padding);
    padding-bottom: var(--table-padding);
}
.trainer-info{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.trainer-info td{
    margin-left: auto;
    margin-right: auto;

}
.trainer-bgsprite{
    display: inline-block;
    justify-content: center;
    align-items: center;
    overflow:visible;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-width: calc(var(--table-border-width) / 2) !important;
    border-style: solid;
}

.balls-preview {
    width: 120px;
    height: 24px;
    display: flex;
}

.balls-preview div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.balls-preview img {
    margin-right: 2px;
}

td.info{
    width: 150px;
    padding-left: 20px;
}

td.info dl{
    display: block;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

div.teamalt{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    row-gap: 15px;
    justify-items: center;
    background-color: #55dddd;
}
div.team{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    row-gap: 15px;
    justify-items: center;
    background-color: #55dddd;
}

/* Componenti [hide/show] */
.toctitle {
    width: 100%;
    margin-bottom: 10px;
}

.toctogglecheckbox {
    display: inline !important;
    position: absolute;
    opacity: 0;
    z-index: -1
}


.toctogglespan::before {
    content: ' ['
}

.toctogglespan::after {
    content: ']'
}

.toctogglelabel {
    font-family: var(--font-nunito);
    font-size: 12px;
    color: #002bb8;
    cursor: pointer
}

.toctogglelabel:hover {
    text-decoration: underline
}

.toctogglecheckbox:focus + .VIT .toctogglelabel,
.toctogglecheckbox:focus + .VITalt .toctogglelabel {
    text-decoration: underline;
    outline: auto
}

.toctogglecheckbox:checked + .VIT .toctitle .toctogglelabel::after,
.toctogglecheckbox:checked + .VITalt .toctitle .toctogglelabel::after {
    content: 'Hide'
}

.toctogglecheckbox:not(:checked) + .VIT .toctitle .toctogglelabel::after,
.toctogglecheckbox:not(:checked) + .VITalt .toctitle .toctogglelabel::after {
    content: 'Show'
}

.toctogglecheckbox:checked + .VIT .toctitle + div,
.toctogglecheckbox:checked + .VITalt .toctitle + div {
    display: grid;
}
.toctogglecheckbox:not(:checked) + .VIT .toctitle + div,
.toctogglecheckbox:not(:checked) + .VITalt .toctitle + div {
    display: none;
}



.toctogglecheckbox:checked + .VITalt{
    width: 500px;
}
.toctogglecheckbox:checked + .VIT{
    width: 700px;
}


.toctogglecheckbox:not(:checked) + .VITalt,
.toctogglecheckbox:not(:checked) + .VIT{
    width: 350px;
}
